ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  margin: 2rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header {

  &__nav {
    position: relative;
  }

  &__navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__item {
    padding: 0rem;
    position: relative;
  }

  .header--icon {
    color: gray;
  }

  .header--btn {
    top: 0;
    right: 0;
    position: absolute;

    &:focus {
      outline: 0;
    }
  }

  &--icon {
    fill: currentcolor;
    width: 1.65rem;
    height: 1.65rem;
    display: inline-flex;
  }

  &--btn {
    cursor: pointer;
    padding: 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: transparent;
    appearance: none;
    user-select: none;
  }

  &__dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    height: 16.1rem;
    min-width: 280px;
    overflow-y: auto;
    padding: 2rem 2rem 2rem 0;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #dadce0;
    background-clip: padding-box;
  }

  &__dropdown-menu-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 0;
    color: #3c4043;
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    margin-bottom: 0.4rem;
    border-radius: 0 50px 50px 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.039);
    }
  }

  &__dropdown-menu-svg {
    padding-right: 16px;

    .header--icon {
      width: 1.40rem;
      height: 1.40rem;
    }
  }
}

// Animation slide button
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.6s;
}

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(31px);
}

.slide-fade-leave-active {
  transform: translateX(-31px);
}

// Dropdown animation
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 1s;
}

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px);
}


.wrapper {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .social {
    margin-top: 1rem;
  }

  a {
    padding: 0.6rem;
  }

  h1 {
    color: #42b983;
    font-size: 2rem;
    font-weight: 300;
  }

  p {
    color: #7f8c8d;
    font-weight: 100;
  }

  svg {
    fill: currentcolor;
    color: #b8c2cc;
    width: 1.65rem;
    height: 1.65rem;
    display: inline-flex;
  }
}