---
title: Software
linkTitle: Software
menu:
  main:
    weight: 10

---


{{< blocks/cover title="Software" image_anchor="bottom" height="min" color="dark" >}}
  {{< blocks/link-down color="info">}}
{{< /blocks/cover >}}

{{% blocks/section type="section" color="light" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://stampchat.io">StampChat</a></h1>
<p class="text-center">
StampChat is a decentralized end-to-end encrypted messenger which uses the Lotus token to ensure all messages you receive are valuable. This allows spam to be filtered on the platform without centralized moderators. The communication is decentralized, secure, and uncensorable.
</p>
</div>
{{% /blocks/section %}}
{{% blocks/section type="section" color="light" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://cashewwallet.com">Cashew</a></h1>
<p class="text-center">
Cashew is a minimal mobile client for the Lotus network which enables sending and receiving the tokens with your friends.
</div>
{{% /blocks/section %}}