---
title: Projects
linkTitle: Projects
menu:
  main:
    weight: 20

---


{{< blocks/cover title="Projects" image_anchor="bottom" height="min" color="dark" >}}
  <p>
  New Lotus are issued through rewards that are split between miners and projects which benefit the public good as a show of appreciation.
  </p>
  <p>
  Whenever you use Lotus to appreciate your friends, you know that you're also supporting these great projects.
  <p>
  {{< blocks/link-down color="info">}}
{{< /blocks/cover >}}

{{% blocks/section type="section" color="primary" width="sm" %}}
<div class="col-12">
<h1 class="text-center">Logos Foundation</h1>
<p class="text-center">
The Logos Foundation is responsible to run this project and ensure the infrastructure is in place for all users. Without which, Lotus would not exist.
</p>
</div>
{{% /blocks/section %}}

{{% blocks/section type="section" color="dark" width="sm" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://saipan.institute/">The Saipan Institute</a></h1>
<p class="text-center">
The Saipan Institute prepares the next generation of builders and creators in Saipan. They train students in programming, economics, and cryptography.
</p>
</div>
{{% /blocks/section %}}

{{% blocks/section type="section" color="light" width="sm" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://stampchat.io">StampChat</a></h1>
<p class="text-center">
StampChat is a decentralized end-to-end encrypted messenger which uses the Lotus token to ensure all messages you receive are valuable. This allows spam to be filtered on the platform without centralized moderators. The communication is decentralized, secure, and uncensorable.
</p>
</div>
{{% /blocks/section %}}

{{% blocks/section type="section" color="dark" width="sm" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://be.cash">Be.Cash</a></h1>
<p class="text-center">
Be.cash collaborates with the Logos Foundation to assist in developing the lotus blockchain software, as well as developing Point of Sale systems and mobile payment methods for areas without the necessary infrastructure for traditional payment methods.
</p>
</div>
{{% /blocks/section %}}

{{% blocks/section type="section" color="light" width="sm" %}}
<div class="col-12">
<h1 class="text-center"><a href="https://bitcoinabc.org">Bitcoin ABC</a></h1>
<p class="text-center">
Bitcoin ABC develops highly scalable open-source software for mining and transferring cryptotokens. Although Bitcoin ABC does not charge for its work, Lotus uses this software as a basis for the network and deems it appropriate to reciprocate to these developers.
</div>
{{% /blocks/section %}}