$imgAPI-lotus0: 'https://via.placeholder.com/1000x625/f2c9ff/757575';
$imgAPI-lotus1: 'https://via.placeholder.com/1472x637/5abce4/FFFFFF';
$imgAPI-lotus2: 'https://via.placeholder.com/1000x625/e6f8ff/757575';
$imgAPI-lotus3: '/images/lotus/app-counter.png';
$imgAPI-lotus4: 'https://via.placeholder.com/1000x680/b44fd4/FFFFFF';
$imgAPI-lotus5: 'https://via.placeholder.com/1000x680/00a7e8/FFFFFF';
$imgAPI-lotus6: 'https://via.placeholder.com/1000x680/e91e63/FFFFFF';
$imgAPI-lotus7: '/images/lotus/desktop_illustration.png';
$imgAPI-lotus8: '/images/giving.png';
