+++
title = "Lotus"
linkTitle = "Lotus"
+++
{{< blocks/cover title="Give Lotus" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
  <p class="lead mt-5">Lotus is the Token of Appreciation</p>
  <p>
    Lotus launched at June 21, 2021 03:31:00 UTC
  </p>
  {{< blocks/link-down color="info">}}
</div>
{{< /blocks/cover>}}

{{% blocks/lead color="dark" type="section" %}}
{{< youtube ujCfPhGrQ5A >}}
Lotus is a priceless digital token of appreciation that you can always keep at hand
{{% /blocks/lead %}}

{{% blocks/section color="light" type="section" width="sm" %}}
<p>
Lotus is a token used to show appreciation for positive action. Most digital tokens are rewarded only to the developers or miners. With Lotus, new tokens are given directly to self-organizing groups of individuals working towards causes which benefit all of humanity -- ones with which you can get involved. When you give or accept Lotus, are supporting the commons and adding value to the worldwide economy.
</p>
<p>
The initiatives you support when you use Lotus are:
<ul>
<li>Open Source Software</li>
<li>Digital Privacy</li>
<li>Humanitarian Efforts</li>
<li>Permaculture</li>
<li>Renewable Power</li>
<li>Human Rights</li>
</ul>
</p>
{{% /blocks/section %}}
