+++
title = "Lotus"
linkTitle = "Lotus"

+++

{{< blocks/cover title="Give Lotus" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
  <p class="lead mt-5">Lotus is the Token of Appreciation</p>
  {{< blocks/link-down color="info">}}
</div>
{{< /blocks/cover>}}

{{% blocks/lead color="dark" %}}
Lotus is a priceless digital token of appreciation that you can always keep at hand
{{% /blocks/lead %}}

{{% blocks/section color="light" %}}
<p>
Every day, in our interactions with other people we have experiences that make life worth living. We say, “thank you” to each other. But, talk is cheap and words are fleeting. It’s easy for someone to express appreciation through words alone. How motivating is “thank you?” What if we could seamlessly back our words with something priceless? What would the world look like if we had a more effective way to express gratitude to each other? What if we could keep the “appreciation,” we receive, forever?
</p>
{{% /blocks/section %}}
